{namespace jhe=Tx_IrfaqCatmenu_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

    <div class="tx-irfaq-catmenu-header">Kategorien:</div>
    <jhe:ul catItems="{catMenus}"/>

    <script type="application/javascript">
        <![CDATA[
            jQuery(function($){
                //append  category title to ce h3
                $('.tx-irfaq-pi1').parent().find('div h3').append("]]>{catTitle}<![CDATA[");

                //check if any faq content is displayed on the page
                var faq_content = $('.tx-irfaq-pi1 dl').html();
                //if not, display default message
                if(!faq_content){
                    $('.tx-irfaq-pi1').html('');
                    $('.tx-irfaq-pi1').append('<p>Für die ausgewählte Kategorie sind derzeit keine Fragen vorhanden!</p>');
                }

                //if no cat is selected (inital state) display no question but a default message instead
                var noCat = ']]>{noCat}<![CDATA[';
                if(noCat == 1){
                    $('.tx-irfaq-pi1').html('');
                    $('.tx-irfaq-pi1').append('<p>Bitte wählen Sie in der Navigation eine Kategorie aus!</p>');
                }

            });
        ]]>
    </script>

</f:section>